@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: #fff;
}

a {
    text-decoration: none;
}

:root {
    /* colors */
    --color-dark: #06283d;
    --color-aqua: #256d85;
    --color-sky: #47b5ff;
    --color-light: #dff6ff;
    /* constants */
    --height-header: 72px;
}

/* 
    container
*/
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    padding: 0 10px;
}

/* 
    header
*/
header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height-header);
    background: var(--color-light);
    z-index: 999;
}

header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .header__logo {
    display: flex;
    align-items: center;
    color: var(--color-dark);
    font-size: 26px;
    font-weight: 700;
    transition: all .2s;
}

header .header__logo .logo {
    display: block;
    height: 40px;
    margin-right: 10px;
}

header .header__login {
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--color-light);
    background: var(--color-sky);
    font-weight: 600;
    transition: all .2s;
}

header .header__login:hover {
    transform: scale(1.1);
}

header .header__nav__btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: none;
    border-radius: 20px;
    transition: all .5s;
}

header .header__nav__btn.active  {
    background: var(--color-dark);
}

header .header__nav__btn.active i  {
    color: var(--color-light);
}

header .header__nav__btn i {
    color: var(--color-dark);
    font-size: 20px;
}

/* 
    nav
*/
nav {
    padding-top: var(--height-header);
    background: var(--color-dark);
}

nav .nav__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav .nav__link {
    display: block;
    font-size: 14px;
    color: var(--color-light);
    padding: 10px 0;
    transition: all .2s;
}

.nav__link.selected {
    color: var(--color-sky);
}

nav .nav__link:not(.selected)::after {
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background: var(--color-light);
    transition: all .2s;
}

nav .nav__link:hover {
    color: var(--color-sky);
}

nav .nav__link:hover::after {
    width: 100%;
    background: var(--color-sky);
}

/* 
    media
*/

@media (max-width: 600px) {
    header .header__logo {
        font-size: 16px;
    }

    header .header__login {
        display: none;
    }

    header .header__nav__btn {
        display: flex;
    }

    nav {
        position: fixed;
        top: -100%;
        width: 100%;
        z-index: 1;
        transition: all .2s;
    }

    nav.active {
        position: fixed;
        top: 0;
    }

    nav .nav__inner {
        flex-direction: column;
        align-items: start;
    }

    nav .nav__link {
        padding: 10px 0;
        font-size: 12px;
        text-align: left;
        border-bottom: 1px solid var(--color-light);
    }

    nav .nav__link:last-child {
        border-bottom: none;
    }
}